<h2>End-to-End Encrypted</h2>

{% include card_email.html

title="Proton Mail"
image="/assets/img/provider/protonmail.svg"
description='ProtonMail is a Swiss-based email service with no advertising and maximum possible privacy for its users, funded entirely by donations and subscriptions. The basic account is free, with paid-for accounts that have more features and storage.'
country="ch"
website="https://proton.me/mail"
price="Free+"
encryption=""
domain=""
storage="500MB"
aliases=""
tor="https://protonirockerxow.onion/"

%}

{% include card_email.html

title="StartMail"
image="/assets/img/provider/startmail.png"
description='StartMail is a privacy-first email service from the founders of Startpage.com, based in the Netherlands. StartMail allows users to remain completely anonymous. The service is ad-free, doesn’t track your activity and accepts anonymous payment methods such as bitcoin. There’s a 7-day free trial.'
country="nl"
website="https://www.startmail.com/"
price="$29.99/year"
encryption=""
domain=""
aliases=""
storage="10GB"

%}

{% include card_email.html

title="Tutanota"
image="/assets/img/provider/tutanota.png"
description='Tutanota is an encrypted email and calendar service based in Germany, with no advertising and the emphasis on privacy. The basic account is free, with paid-for accounts that have more features and storage. They also have their own apps for Android and iPhone.'
country="de"
website="https://tutanota.com/"
price="Free+"
encryption=""
domain=""
storage="2GB"

%}


{% include card_email.html

title="Mailbox.org"
image="/assets/img/provider/mailbox.jpg"
description='Run by a German family business, mailbox.org offers email, online file storage and online office features such as calendars. There’s a one month free trial.'
country="de"
website="https://mailbox.org/"
price="€12/year"
encryption=""
domain=""
aliases=""
storage="1GB"

%}

<h2>Ad-Free/Private</h2>

{% include card_email.html

title="Fastmail"
image="/assets/img/provider/fastmail.svg"
description='Fastmail is an Australian company that offers private email funded entirely by its users, with no advertising or tracking. There’s a free trial, after which accounts cost various different prices for different features and amounts of storage space.'
country="au"
website="https://fastmail.com/"
price="$30/year"
domain=""
aliases=""
storage="2GB"

%}

{% include card_email.html

title="Soverin"
image="/assets/img/provider/soverin.jpg"
description='Soverin is based in the Netherlands and offers privacy-oriented email including custom domain name and optional web page too.'
country="nl"
website="https://soverin.net/"
price="€29/year"
encryption=""
domain=""
storage="25GB"

%}

