
{% include card.html

title="Proton VPN"
image="/assets/img/provider/protonvpn.svg"
description='Unlike other VPN services, ProtonVPN is designed with security as the main focus, drawing upon the lessons we have learned from working with journalists and activists in the field.'
country="ch"
website="https://go.getproton.me/SHYo"
github="https://github.com/ProtonVPN/"
price="Free+"

%}


{% include card.html

title="Mullvad"
image="/assets/img/provider/Mullvad.png"
description="Mullvad's service helps keep users' online activity, identity, and location private. Mullvad circumvents censorship and thwarts eavesdropping from Wi-Fi hackers to local-government mass surveillance. They keep no activity logs and require no personal information."
country="se"
github="https://github.com/mullvad"
price="60 € / year"

%}

{% include card.html

title="NordVPN"
image="/assets/img/provider/nordvpn.svg"
description="NordVPN is one of the most trusted internet security providers on the market. They offer the fastest VPN connection, bulletproof encryption, and advanced privacy features that ensure secure access to the internet wherever you are."
country="pa"
website="https://go.nordvpn.net/SH2FW"
price="$68 / year"

%}

{% include card.html

title="Surfshark"
image="/assets/img/provider/surfshark.svg"
description="Surfshark VPN gives you fast speed, online privacy, security, and more. Download Surfshark VPN if you’re seeking to protect your online privacy, security and surf the web safely."
website="https://get.surfshark.net/aff_c?offer_id=1231&aff_id=1598"
country="nl"
price="$60 / year"

%}

{% include card.html

title="IVPN"
image="/assets/img/provider/IVPN.png"
description="IVPN is a leading VPN provider based in Gibaltar and featuring 77 servers in 31 countries. They offer a 3-day free trial and offer both mobile and desktop clients."
country="gi"
website="https://www.ivpn.net/"
github="https://github.com/ivpn"
price="$60 / year"

%}

{% include card.html

title="AzireVPN"
image="/assets/img/provider/azirevpn.jpg"
description="Privacy-minded VPN service providing different secure, modern and robust tunnels such as WireGuard and OpenVPN, along with SOCKS5 proxies, DNS servers and IPv6 connectivity in carefully chosen locations."
country="se"
website="https://www.azirevpn.com/"
github="https://github.com/azirevpn/azclient"
price="$60 / year"

%}					
