<footer id="footer">
						<div class="inner">
							<section>
								<h2>Contact / Support ThinkPrivacy</h2>
								<ul class="icons">
									<li><a href="https://www.twitter.com/ThinkPrivacy_" target="_blank" class="style2 fab fa-twitter"><span class="footer-text"> Twitter</span></a></li>
								</ul>
							</section>
							<ul class="copyright">
								<li><a href="{{ site.baseurl }}about/">About Us</a></li><li><a href="{{ site.baseurl }}partners/">Partners</a></li><li><a href="{{ site.baseurl }}privacy/">Privacy Policy</a></li><li><a href="{{ site.baseurl }}contact/">Contact Us</a></li><li>Copyright © 2018 - 2022 ThinkPrivacy.</li>
							</ul>						
						</div>

					</footer>