<ul class="nav" role="menu">
    <li class="nav-home" role="menuitem"><a href="{{site.baseurl}}">Home</a></li>
    <li class="nav-home" role="menuitem"><a href="{{site.baseurl}}email/">Email</a></li>
    <li class="nav-home" role="menuitem"><a href="{{site.baseurl}}vpn/">VPN</a></li>
    <li class="nav-home" role="menuitem"><a href="{{site.baseurl}}search/">Search</a></li>
    <li class="nav-home" role="menuitem"><a href="{{site.baseurl}}messengers/">Messengers</a></li>
    <li class="nav-home" role="menuitem"><a href="{{site.baseurl}}password/">Password</a></li>
    <li class="nav-home" role="menuitem"><a href="{{site.baseurl}}tag/service-recommendations/">More Recommendations</a></li>
</ul>
